<!DOCTYPE html>
<html ng-app="nada">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	<script src="controller/controller.js"></script>
</head>
<body ng-controller="helloants">
	<h1>이미지 업로드</h1>
	<form action='/upload' method="post" enctype="multipart/form-data" >
			<font size="5">번호 :</font>&nbsp;&nbsp;<input type="text" name="num" /><br>
			<font size="5">국가 :</font>&nbsp;&nbsp;<input type="text" name="name" /><br>
			<font size="5">도시 :</font>&nbsp;&nbsp;<input type="text" name="city" /><br>
			<font size="5">호텔이름 :</font>&nbsp;&nbsp;<input type="text" name="hname" /><br>
			<font size="5">위도 :</font>&nbsp;&nbsp;<input type="text" name="latitude" /><br>
			<font size="5">경도 :</font>&nbsp;&nbsp;<input type="text" name="longitude" />
	        <br>
	        <br>
	        <input type='file' name='upload' /><br>
	        <br>
	        <input type='submit' />
	</form>
	
	<form action='/load'>
		<input type='text' name="search"/><br/>
		<input type='submit'/>
	</form>
		
	 <div ng-repeat="image in imageList">
	        <img ng-src="{{image.filePath}}" width="50" height="50" />
	        <h2>{{image.name}}</h2>
     </div>
</body>
</html>
