<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/write.css" />
<script src="/public/jquery-3.1.1.min.js"></script>
<script>
			
			$(document).ready(function() { 
				CKEDITOR.config.extraPlugins = 'colorbutton';
				CKEDITOR.env.isCompatible = true;
				CKEDITOR.replace('contents');
			});
			
		</script>
</head>
<body>
<div class="write-header" style="margin-bottom:0">
  <a href="/index2"><img src="/img/logo.png"></a>
  <h1>글쓰기</h1> 
</div>


<div class = formlist>
 <form method="post" action="/process/addpost">
    <div class="row">
      <div class="col-25">
        <label for="fname">제목</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="title" placeholder="제목">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">작성자</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="writer" placeholder="작성자">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">내용</label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="contents" placeholder="내용" style="height:200px"></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="글쓰기">
      <input type="button" value="취소" onclick="javascript:history.back()">
    </div>
  </form>
</div>
</body>
</html>